<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>My Website</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'app:home' %}">Home</a></li>
                <li><a href="{% url 'app:entry' %}">Entry</a></li>
                <li><a href="{% url 'app:search' %}">Search</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
