{% extends 'app/home.html' %}

{% block content %}
    <h2>Create A New Construct</h2>
    <form method="post">
        {% csrf_token %}
        <p><label for="construct_number">Construct Number:</label></p>
        <p><input type="text" id="construct_number" name="construct_number" value="{{ construct_number }}" readonly><br></p>
        <p><label for="receptor">Receptor:</label></p>
        <p><input type="text" id="receptor" name="receptor" required><br></p>
        <p><label for="DNA_sequence">DNA Sequence:</label></p>
        <p><textarea id="DNA_sequence" name="DNA_sequence" required></textarea><br></p>
        <p><label for="description">Description(eg. promoter/tag/fusion/truncation/junction):</label></p>
        <p><textarea id="description" name="description" required></textarea><br></p>
        <p><label for="comment">Comment:</label></p>
        <p><textarea id="comment" name="comment"></textarea><br></p>
        <p><label for="user">User:</label></p>
        <p><textarea id="user" name="user"></textarea><br></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <a href="{% url 'app:home' %}">Back to home</a>
{% endblock %}

